<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width/4, initial-scale=1">
  <!-- <META HTTP-EQUIV="pragma" CONTENT="no-cache"> 
  <META HTTP-EQUIV="Cache-Control" CONTENT="no-cache, must-revalidate"> 
  <META HTTP-EQUIV="expires" CONTENT="0"> -->
  <title>S_ICS</title>
  <link rel="stylesheet" type="text/css" href="/static/css/Outline.css" />
  <link rel="stylesheet" type="text/css" href="/static/css/freSetGraph.css" />
  <!-- <script src='/static/js/staticData.js'></script> -->
  <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://d3js.org/d3-interpolate.v1.min.js"></script>
  <script type="text/javascript" src="/static/lib/d3.v3.js"></script>

  <!-- <script src='/static/js/Overview.js'></script> -->

</head>

<body>
  <!-- <body> -->
  <div id="controlPanel">
      <div id="overviewCtrlPanel">
      </div>
      <div id="freSetCtrlPanel">
      </div>
      <div id="ruleCtrlPanel">
      </div>
  </div>
  <div id = "mainGraph">
    <div id="overViewGraph">
    </div>
    <div id="freSetGraph">
    </div>
    <div id="ruleGraph">
    </div>
  </div>
  <script src='/static/js/ctrlView.js'></script>
  <script src='/static/js/overViewGraph.js'></script>
  <script src='/static/js/freSetGraph.js'></script>

</body>
</html>